body{

    font-family: 'Nunito', sans-serif;
}
.cabeçalho{

    height: 32vh;
    width: 100%;
    background-color: beige;
    margin: 0;
    padding:1px;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
   
    
}

.Cab1{

   height: 20vh;
   width: 100%;
 
   margin: 0px;
   padding: 0px;
   


}

.Abas1{

    float:left;
    width: 371.6px;
    height: 15vh;
}

.Abas2{

    float: right;
    width: 371.6px;
    height: 15vh;
    
    
}

.Img{
    width: 340.6px;
    height: 15vh;
    text-align: center;
    display:inline-block;
    margin-top: 4.5vh;
    margin-left: 10px;
    
}


.Img:hover img{

    transform: scale(1.1);
    transition-duration: 0.6s;
}

.Cab2{

    
    height: 10vh;
    width: 100%;
    text-align: center;
    line-height: 0vh;
}

#carrinho{

    display: inline-block;
    margin-left: 10px;
    margin-top: 7vh;
    margin-right: 40px;
    font-size: 13px;

}

#carrinho:hover{

    color:green;
    text-decoration: underline;
}

#login{


        display: inline-block;
        margin-right: 40px;
        margin-top: 7vh;
        font-size: 13px;

        

}

#login:hover{

    color: green;
    text-decoration: underline green;
}

#lojas{

    display: inline-block;
    margin-left: 40px;
    margin-top: 7vh;
    font-size: 13px;

}

#lojas:hover{

    color:green;
    text-decoration: underline;
    
}

#servico{

    display: inline-block;
    margin-left: 40px;
    margin-top: 7vh;
    font-size: 13px;
    

   
}

#servico:hover{

    color:green;
    text-decoration:underline;
}

#home{

    font-size:20px;
    float:left;
    margin-left: 80px;
}

#home:hover{

    color: green;
    transform: scale(1.1);
    transition-duration: 0.8s;

}

.link02{

    text-decoration: none;
    color: black;
}

.link02:hover{

    transition-duration:0.8s;
    color:green
}


#produtoI{


    font-size:20px;
    float: left;
    margin-left: 70px;

}

#produtoI:hover{

    color:green;
    transform: scale(1.1);
    transition-duration: 0.6s;

}


#sobre{


    font-size:20px;
    float: right;
    margin-right: 170px;
    
}
#sobre:hover{

    color: green;
    transform: scale(1.1);
    transition-duration: 0.6s;

}

.link01{

    text-decoration: none;
    color:black;
}

.link01:hover{

    color:green;
    transition-duration: 0.6s;
}

.conteudoLogin{

    height:65vh ;
    width: 100%;
    background-color: beige;
    text-align: center;
    

}

.containerForms{

    height: 30vh;
    width: 30vh;
    margin: 15vh auto;


}

.