body{

    font-family: 'Nunito', sans-serif;
}
.cabeçalho{

    height: 32vh;
    width: 100%;
    background-color: beige;
    margin: 0;
    padding:1px;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
   
    
}

.Cab1{

   height: 20vh;
   width: 100%;
 
   margin: 0px;
   padding: 0px;
   


}

.Abas1{

    float:left;
    width: 371.6px;
    height: 15vh;
}

.Abas2{

    float: right;
    width: 371.6px;
    height: 15vh;
    
    
}

.Img{
    width: 340.6px;
    height: 15vh;
    text-align: center;
    display:inline-block;
    margin-top: 4.5vh;
    margin-left: 10px;
    
}


.Img:hover img{

    transform: scale(1.1);
    transition-duration: 0.6s;
}

.Cab2{

    
    height: 10vh;
    width: 100%;
    text-align: center;
    line-height: 0vh;
}

#carrinho{

    display: inline-block;
    margin-left: 10px;
    margin-top: 7vh;
    margin-right: 40px;
    font-size: 13px;

}

#carrinho:hover{

    color:green;
    text-decoration: underline;
}

#login{


        display: inline-block;
        margin-right: 40px;
        margin-top: 7vh;
        font-size: 13px;

        

}

#login:hover{

    color: green;
    text-decoration: underline green;
}

#lojas{

    display: inline-block;
    margin-left: 40px;
    margin-top: 7vh;
    font-size: 13px;

}

#lojas:hover{

    color:green;
    text-decoration: underline;
    
}

#servico{

    display: inline-block;
    margin-left: 40px;
    margin-top: 7vh;
    font-size: 13px;
    

   
}

#servico:hover{

    color:green;
    text-decoration:underline;
}

#home{

    font-size:20px;
    float:left;
    margin-left: 80px;
}

#home:hover{

    color: green;
    transform: scale(1.1);
    transition-duration: 0.8s;

}


#produtoI{


    font-size:20px;
    float: left;
    margin-left: 70px;

}

#produtoI:hover{

    color:green;
    transform: scale(1.1);
    transition-duration: 0.6s;

}


#sobre{


    font-size:20px;
    float: right;
    margin-right: 170px;
    
}
#sobre:hover{

    color: green;
    transform: scale(1.1);
    transition-duration: 0.6s;

}
.promocao{

    height: 16vh;
    width: 60%;
    margin: 10vh auto;
    background-color: aquamarine;
}

.boxPromo{

   height: 16vh;
   width:  80%;
   margin:auto auto;
   text-align: center;
   line-height: 12vh;
   

}

#Promo{

    vertical-align: middle;
    margin-top: 0vh;
    margin-bottom:0vh;
    height: 35px;
    margin-block-end: 0em;
    
}

#obs{

    vertical-align: middle;
    height: 40px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
    

    
}

.Imagens{


    height: 1200px;
    width: 60%;
    text-align: center;
    margin: auto auto;
}

#modelo2:hover{

    transform: scale(1.1);
    transition-duration: 0.6s;

}


.ExemploGG{


    height: 600px;
    width:650px; 
    display: inline-block;
}

.ImagensMenores{

    height: 400px;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    

}


.Modelo2:hover h4{

    transform:scale(1.1);
    transition-duration: 0.6s;
    text-decoration: underline;
    
}

#modelo3:hover{

    transform:scale(1.1);
    transition-duration:0.6s;
}

.modelo1:hover h4{

    transform:scale(1.1);
    transition-duration: 0.6s;
    text-decoration: underline;
}

#subtitulo2{

    margin-bottom: 7vh;
}

.modelo1{

    
    height: 350px;
    width: 300px;
    display: inline-block;
    margin-right: 1.5vw;

    
}

.Modelo2{

    display: inline-block;
    height: 350px;
    width: 300px ;
    margin-left: 1.5vw;
}

.FimPag{

    
    height: 300px;
    width: 100% ;
    background-color: darkslategray;
}

.FormsEnd{

    height:200px;
    width: 500px;
    margin-left: 10vw;
    display:inline-block;


}

.Telefone{

    margin-top:5vh;
}

.Email{

    margin-top: 5vh;


}

.Nome{

    margin-top: 7vh;
}

#Subtittle3{

    margin-left: 0;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5vh;
    width: 200px;
    height: 20px;
    max-height: 100%;
    
}

#BotaoEnvio{

    float: right;
}

.contact{

    height: 180px;
    display:inline-block;
    margin-left: 12vw;
    width: 215px;
    ;
    

}

#contactzin{


    margin-bottom: 5vh;

}