
body, html{


    
}

.cabeçalho{

    height: 32vh;
    width: 100%;
    background-color: beige;
    margin: 0;
    padding:1px;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
   
    
}

.Cab1{

   height: 20vh;
   width: 100%;
 
   margin: 0px;
   padding: 0px;
   


}

.Abas1{

    float:left;
    width: 371.6px;
    height: 15vh;
}

.Abas2{

    float: right;
    width: 371.6px;
    height: 15vh;
    
    
}

.Img{
    width: 340.6px;
    height: 15vh;
    text-align: center;
    display:inline-block;
    margin-top: 4.5vh;
    margin-left: 10px;
    
}
.Cab2{

    
    height: 10vh;
    width: 100%;
    text-align: center;
    line-height: 0vh;
}

#carrinho{

    display: inline-block;
    margin-left: 10px;
    margin-top: 7vh;
    margin-right: 40px;
}

#login{


        display: inline-block;
        margin-right: 40px;
        margin-top: 7vh;
        

}

#lojas{

    display: inline-block;
    margin-left: 40px;
    margin-top: 7vh;
    margin-right:
}

#servico{

    display: inline-block;
    margin-left: 40px;
    margin-top: 7vh;
    

   
}

#home{

    font-size:20px;
    float:left;
    margin-left: 80px;
}


#produtoI{


    font-size:20px;
    float: left;
    margin-left: 70px;
}


#sobre{


    font-size:20px;
    float: right;
    margin-right: 170px;
}